.header-container{
  position: absolute;
  justify-content: space-around;
  width: 100vw;
  height: 19vh;

  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.header{
  position: absolute;
  width: 60vw;
  height: 15.5vh;
  left: 20%;
  top: 3%;

  font-family: 'Poligon', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 9vmin;
  line-height: 6vmax;


  align-items: center;
  text-align: center;

  color: #000000;
}

.search-button{
  color: #FFFFFF;
  background-color: #4485E7;
  display: inline-block;
  font-family: 'Poligon-Light', sans-serif;
  font-weight: bold;
  font-size: 1.5vw;
  line-height: 4vh;

  padding: 4px;
  text-align: center;
  vertical-align: middle;


  width: 8.5vw;
  height: 6.5vh;
  border: 2px solid #4485E7;
  border-radius: 5px;

  position: absolute;
  left: 89vw;
  top: 6.2vh;
}

.upload-button{
  color: #4485E7;
  background-color: #FFFFFF;
  display: inline-block;
  font-family: 'Poligon-Light', sans-serif;
  font-weight: bold;
  font-size: 1.5vw;
  line-height: 4vh;

  padding: 4px;
  text-align: center;
  vertical-align: middle;


  width: 8.5vw;
  height: 6.5vh;
  border: 2px solid #FFFFFF;
  border-radius: 5px;

  position: absolute;
  left: 80vw;
  top: 6.2vh;
}

.submit-button{
  color: #FFFFFF;
  background-color: #4485E7;
  display: inline-block;
  font-family: 'Poligon-Light', sans-serif;
  font-weight: bold;
  font-size: 1.5vw;
  line-height: 4vh;

  padding: 4px;
  text-align: center;
  vertical-align: middle;


  width: 8.5vw;
  height: 6.5vh;
  border: 2px solid #4485E7;
  border-radius: 5px;

  position: absolute;
  left: 27vw;
  top: 30vh;
}

.dropdown-nav{
  color: #FFFFFF;
  font-family: 'Poligon-Light', sans-serif;
  font-weight: bold;
  position: absolute;
  left: 25px;

  z-index: 10;
  text-align: left;
}
